.my-ul {
    background-color: rgb(221, 241, 247);
    border-radius: 1.3rem;
}

.my-ul li {
    list-style-type: none;
    font-size: 1.5rem;

    border: 2px solid rgba(0, 0, 86, 0.5);
    border-radius: 1.3rem;
}

.my-ul li i:hover {
    color: red;
    transform: scale(1.2);
}